
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fadeOut{
    animation:fadeOut 0.5s 1;
    -webkit-animation:fadeOut 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  } 
  
  @keyframes fadeOut{
    0%   {opacity: 1;}
    100% {opacity: 0;}
  }
  

  .ripple {
      position: relative;
      overflow: hidden;
  }

  .ripple-effect {
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      background: rgba(255, 255, 255, 0.4);
      animation: ripple-animation 2s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  @keyframes ripple-animation {
      from { opacity: 1; transform: scale(0) }
      to { opacity: 0; transform: scale(1) }
  }